#background-image{
   flex: 1;
   background: url("../../Assets/img/background.svg") no-repeat center ;
   background-size: cover;
   width: 100%;   
   height: 100%;   
   opacity: 1;
   image-rendering: smooth;
}

.main-content-header{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.nav-container{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.main-content{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   position: fixed;
   width: 35rem;
   height: 40rem;
   margin-bottom: 2rem;
   box-shadow: 0px 3px 10px 5px #a3aab7;
   border-radius: 30px;
   background: #FBFBFB;
}

.main-content-form {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center; 
   margin-top: 2rem;
}

.main-content h1{
   font-weight: 900;
   font-size: 36px;
   color: #213B6B;
   margin-top: 1rem;
}

.main-content h2{
   font-weight: 500;
   font-size: 20px;
   color: #8a8a8a;
   margin-top: 1rem;
}

.main-content a{
   font-size: 16px;
   align-self: flex-end;
   color: #8a8a8a;
   margin-top: 1rem;
}

.input{
   border: 0;
   background: #FFF;
   margin-bottom: 1rem;
   padding-left: 20px;
   box-shadow: 1px 4px 5px 1px #a3aab7;
   border-radius: 15px;
   height: 3rem;
   width: 27rem;
   color: #8a8a8a;
   text-decoration: none;
   -webkit-appearance: none;
}
  
#ic-server{
   padding-left: 15%;
   background: url("../../Assets/img/fi_server.png") no-repeat left , url("../../Assets/img/arrow.svg") no-repeat right ;
   background-position: 5% , 95%;
   background-size: 20px;
}

#ic-user{
   padding-left: 15%;
   background: url("../../Assets/img/fi_user.png") no-repeat left;
   background-position: 5%;
   background-size: 20px;
}

#ic-lock{
   padding-left: 15%;
   background: url("../../Assets/img/fi_lock.png") no-repeat left;
   background-position: 5%;
   background-size: 20px;
}

#no-auth-container{
   height: 9rem;
   margin: 1rem ;
   display: none;
   text-align: center;
}

#no-auth-container p {
   color: red;
   margin-bottom: 1rem;
   font-size: 22px;
}

.in-radio {
   color: #8a8a8a;
   align-self: flex-start;
   margin: 1rem;
   font-size: 16px;
   font-weight: 500;
}

.log-icr{
   position: absolute;
   margin-top: 48rem;
}

#load-container{
   height: 20rem;
   margin: 1rem ;
   margin-top: 3rem ;
   display: none; 
   justify-content: space-between; 
   flex-direction: column; 
   transition: 1s;
   opacity: 0;
}

 #load-stop-container{
   display: none; 
   flex-direction: column; 
   align-items: center;
   background: none;
 }


.spin {
   display: inline-block;
   width: 10rem;
   height: 10rem;
   border: 10px solid rgba(255, 221, 0, 0.896);
   border-radius: 50%;
   border-top-color: #fff;
   animation: spin 1s ease-in-out infinite;
   -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
   to {
   -webkit-transform: rotate(360deg);
   }
}

@media (max-width: 580px)
{
   .main-content{
      width: 21rem;
      height: 40rem;
   }
   .input{
      height: 3rem;
      width: 19rem;
   }
}

@media (max-height: 670px)
{
   .main-content{
      margin-top: 2rem;
   }
}